USE [master]
GO
/****** Object:  Database [CONSULTORIO]    Script Date: 24/05/2020 1:09:19 ******/
CREATE DATABASE [CONSULTORIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CONSULTORIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CONSULTORIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CONSULTORIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CONSULTORIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CONSULTORIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CONSULTORIO]
GO
/****** Object:  Table [dbo].[ANTECEDENTES]    Script Date: 24/05/2020 1:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANTECEDENTES](
	[IDANT] [int] NOT NULL,
	[PESO] [decimal](18, 0) NOT NULL,
	[ALTURA] [decimal](18, 0) NOT NULL,
	[PRESION] [decimal](18, 0) NOT NULL,
	[GLUCOSA] [decimal](18, 0) NOT NULL,
	[TEMPERATURA] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTORES]    Script Date: 24/05/2020 1:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTORES](
	[NUMEMPLEADO] [int] NOT NULL,
	[NOMBRE] [varchar](1) NOT NULL,
	[APPAT] [varchar](1) NOT NULL,
	[APMAT] [varchar](1) NOT NULL,
	[FECHANAC] [datetime] NOT NULL,
	[EDAD]  AS (datediff(day,[FECHANAC],getdate())),
	[SEXO] [char](1) NOT NULL,
	[SUELDO]  AS ((170)*(8)),
	[ESPECIAL] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAMENTO]    Script Date: 24/05/2020 1:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAMENTO](
	[IDMEDI] [int] NOT NULL,
	[NOMBRE] [varchar](1) NOT NULL,
	[TIPOVEN] [varchar](1) NOT NULL,
	[FECHACAD] [datetime] NOT NULL,
	[DIASLIM]  AS (datediff(day,[FECHACAD],getdate())),
	[PRECIOVEN] [decimal](18, 0) NOT NULL,
	[PRECIOCOM] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMEDI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTES]    Script Date: 24/05/2020 1:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTES](
	[IDPACI] [int] NOT NULL,
	[NOMBRE] [varchar](1) NOT NULL,
	[APPAT] [varchar](1) NOT NULL,
	[APMAT] [varchar](1) NOT NULL,
	[FECHANAC] [datetime] NOT NULL,
	[EDAD]  AS (datediff(day,[FECHANAC],getdate())),
	[SEXO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPACI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECETA]    Script Date: 24/05/2020 1:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECETA](
	[IDREC] [int] NOT NULL,
	[IDPACI] [int] NOT NULL,
	[IDANT] [int] NOT NULL,
	[IDMEDI] [int] NOT NULL,
	[INDICACION] [varchar](1) NULL,
	[FECHACONS]  AS (getdate()),
	[NUMEMPLEADO] [int] NOT NULL,
	[TOTALCONS] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDREC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UC_ANT_ID]    Script Date: 24/05/2020 1:09:20 ******/
ALTER TABLE [dbo].[ANTECEDENTES] ADD  CONSTRAINT [UC_ANT_ID] UNIQUE NONCLUSTERED 
(
	[IDANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDANT]    Script Date: 24/05/2020 1:09:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDANT] ON [dbo].[ANTECEDENTES]
(
	[IDANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PESO]    Script Date: 24/05/2020 1:09:20 ******/
CREATE NONCLUSTERED INDEX [PESO] ON [dbo].[ANTECEDENTES]
(
	[PESO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_DOC_NUME]    Script Date: 24/05/2020 1:09:20 ******/
ALTER TABLE [dbo].[DOCTORES] ADD  CONSTRAINT [UC_DOC_NUME] UNIQUE NONCLUSTERED 
(
	[NUMEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NOMBRE]    Script Date: 24/05/2020 1:09:20 ******/
CREATE NONCLUSTERED INDEX [NOMBRE] ON [dbo].[DOCTORES]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NUMEPLEADO]    Script Date: 24/05/2020 1:09:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NUMEPLEADO] ON [dbo].[DOCTORES]
(
	[NUMEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_MED_ID]    Script Date: 24/05/2020 1:09:20 ******/
ALTER TABLE [dbo].[MEDICAMENTO] ADD  CONSTRAINT [UC_MED_ID] UNIQUE NONCLUSTERED 
(
	[IDMEDI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDMEDI]    Script Date: 24/05/2020 1:09:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDMEDI] ON [dbo].[MEDICAMENTO]
(
	[IDMEDI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NOMBRE]    Script Date: 24/05/2020 1:09:20 ******/
CREATE NONCLUSTERED INDEX [NOMBRE] ON [dbo].[MEDICAMENTO]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_PACI_ID]    Script Date: 24/05/2020 1:09:20 ******/
ALTER TABLE [dbo].[PACIENTES] ADD  CONSTRAINT [UC_PACI_ID] UNIQUE NONCLUSTERED 
(
	[IDPACI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDPACI]    Script Date: 24/05/2020 1:09:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDPACI] ON [dbo].[PACIENTES]
(
	[IDPACI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NOMBRE]    Script Date: 24/05/2020 1:09:20 ******/
CREATE NONCLUSTERED INDEX [NOMBRE] ON [dbo].[PACIENTES]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_REC_ID]    Script Date: 24/05/2020 1:09:20 ******/
ALTER TABLE [dbo].[RECETA] ADD  CONSTRAINT [UC_REC_ID] UNIQUE NONCLUSTERED 
(
	[IDREC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDPACI]    Script Date: 24/05/2020 1:09:20 ******/
CREATE NONCLUSTERED INDEX [IDPACI] ON [dbo].[RECETA]
(
	[IDPACI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDREC]    Script Date: 24/05/2020 1:09:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDREC] ON [dbo].[RECETA]
(
	[IDREC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ANTECEDENTES]  WITH CHECK ADD  CONSTRAINT [FK_ANTECEDENTES_ID] FOREIGN KEY([IDANT])
REFERENCES [dbo].[ANTECEDENTES] ([IDANT])
GO
ALTER TABLE [dbo].[ANTECEDENTES] CHECK CONSTRAINT [FK_ANTECEDENTES_ID]
GO
ALTER TABLE [dbo].[DOCTORES]  WITH CHECK ADD  CONSTRAINT [FK_DOCTORES_NUMEMP] FOREIGN KEY([NUMEMPLEADO])
REFERENCES [dbo].[DOCTORES] ([NUMEMPLEADO])
GO
ALTER TABLE [dbo].[DOCTORES] CHECK CONSTRAINT [FK_DOCTORES_NUMEMP]
GO
ALTER TABLE [dbo].[MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTO_ID] FOREIGN KEY([IDMEDI])
REFERENCES [dbo].[MEDICAMENTO] ([IDMEDI])
GO
ALTER TABLE [dbo].[MEDICAMENTO] CHECK CONSTRAINT [FK_MEDICAMENTO_ID]
GO
ALTER TABLE [dbo].[PACIENTES]  WITH CHECK ADD  CONSTRAINT [FK_PACI_ID] FOREIGN KEY([IDPACI])
REFERENCES [dbo].[PACIENTES] ([IDPACI])
GO
ALTER TABLE [dbo].[PACIENTES] CHECK CONSTRAINT [FK_PACI_ID]
GO
ALTER TABLE [dbo].[RECETA]  WITH CHECK ADD  CONSTRAINT [FK_REC_ID] FOREIGN KEY([IDREC])
REFERENCES [dbo].[RECETA] ([IDREC])
GO
ALTER TABLE [dbo].[RECETA] CHECK CONSTRAINT [FK_REC_ID]
GO
ALTER TABLE [dbo].[DOCTORES]  WITH CHECK ADD  CONSTRAINT [CHK_COLUMND_DOCEXC] CHECK  (([FECHANAC]<dateadd(year,(-18),getdate())))
GO
ALTER TABLE [dbo].[DOCTORES] CHECK CONSTRAINT [CHK_COLUMND_DOCEXC]
GO
USE [master]
GO
