USE [master]
GO
/****** Object:  Database [CONSULTORIO]    Script Date: 27/05/2020 5:49:43 ******/
CREATE DATABASE [CONSULTORIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CONSULTORIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CONSULTORIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CONSULTORIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CONSULTORIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CONSULTORIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CONSULTORIO]
GO
/****** Object:  UserDefinedFunction [dbo].[PACINFO]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[PACINFO](@NOMBRE VARCHAR(30), @EDAD NCHAR(2), @FECHANAC NVARCHAR(20)) RETURNS NVARCHAR(100) AS BEGIN RETURN(SELECT @NOMBRE+ ' '+@EDAD+ ' ' + @FECHANAC) END
GO
/****** Object:  Table [dbo].[DOCTORES]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTORES](
	[NUMEMPLEADO] [int] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[APPAT] [varchar](30) NOT NULL,
	[APMAT] [varchar](30) NOT NULL,
	[FECHANAC] [date] NOT NULL,
	[EDAD]  AS (datediff(year,[FECHANAC],getdate())),
	[SEXO] [char](1) NOT NULL,
	[SUELDO]  AS ((170)*(8)),
	[ESPECIAL] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTAEDAD40DOCS]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTAEDAD40DOCS] AS SELECT NOMBRE, EDAD FROM DOCTORES GROUP BY NOMBRE, EDAD HAVING EDAD=40 
GO
/****** Object:  Table [dbo].[PACIENTES]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTES](
	[IDPACI] [int] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[APPAT] [varchar](30) NOT NULL,
	[APMAT] [varchar](30) NOT NULL,
	[FECHANAC] [date] NOT NULL,
	[EDAD]  AS (datediff(year,[FECHANAC],getdate())),
	[SEXO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPACI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTAPACISH]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTAPACISH] AS SELECT NOMBRE, SEXO FROM PACIENTES GROUP BY NOMBRE, SEXO HAVING SEXO = 'H'
GO
/****** Object:  Table [dbo].[MEDICAMENTO]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAMENTO](
	[IDMEDI] [int] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[TIPOVEN] [varchar](30) NOT NULL,
	[FECHACAD] [date] NOT NULL,
	[DIASLIM]  AS (datediff(day,getdate(),[FECHACAD])),
	[PRECIOVEN] [decimal](18, 0) NOT NULL,
	[PRECIOCOM] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMEDI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTAMEDSR]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTAMEDSR] AS SELECT NOMBRE, TIPOVEN FROM MEDICAMENTO GROUP BY NOMBRE, TIPOVEN HAVING TIPOVEN = 'SR'
GO
/****** Object:  Table [dbo].[ANTECEDENTES]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANTECEDENTES](
	[IDANT] [int] NOT NULL,
	[PESO] [decimal](18, 0) NOT NULL,
	[ALTURA] [decimal](18, 0) NOT NULL,
	[PRESION] [decimal](18, 0) NOT NULL,
	[GLUCOSA] [decimal](18, 0) NOT NULL,
	[TEMPERATURA] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTABASANT]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTABASANT] AS SELECT PESO, ALTURA, TEMPERATURA FROM ANTECEDENTES WHERE IDANT = 3
GO
/****** Object:  Table [dbo].[RECETA]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECETA](
	[IDREC] [int] NOT NULL,
	[IDPACI] [int] NOT NULL,
	[IDANT] [int] NOT NULL,
	[IDMEDI] [int] NOT NULL,
	[INDICACION] [varchar](100) NULL,
	[FECHACONS]  AS (getdate()),
	[NUMEMPLEADO] [int] NOT NULL,
	[TOTALCONS] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDREC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTAREC]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTAREC] AS SELECT * FROM RECETA WHERE NUMEMPLEADO = 7
GO
/****** Object:  UserDefinedFunction [dbo].[DOCSINFO]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DOCSINFO](@NUMEMPLEADO INT) RETURNS TABLE AS RETURN(SELECT * FROM DOCTORES WHERE NUMEMPLEADO = @NUMEMPLEADO)
GO
/****** Object:  Table [dbo].[PACINOM]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACINOM](
	[NOMBRE] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ANTECEDENTES] ([IDANT], [PESO], [ALTURA], [PRESION], [GLUCOSA], [TEMPERATURA]) VALUES (2, CAST(75 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), CAST(82 AS Decimal(18, 0)), CAST(100 AS Decimal(18, 0)), CAST(37 AS Decimal(18, 0)))
INSERT [dbo].[ANTECEDENTES] ([IDANT], [PESO], [ALTURA], [PRESION], [GLUCOSA], [TEMPERATURA]) VALUES (3, CAST(58 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), CAST(119 AS Decimal(18, 0)), CAST(82 AS Decimal(18, 0)), CAST(36 AS Decimal(18, 0)))
INSERT [dbo].[ANTECEDENTES] ([IDANT], [PESO], [ALTURA], [PRESION], [GLUCOSA], [TEMPERATURA]) VALUES (4, CAST(80 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), CAST(111 AS Decimal(18, 0)), CAST(91 AS Decimal(18, 0)), CAST(36 AS Decimal(18, 0)))
INSERT [dbo].[DOCTORES] ([NUMEMPLEADO], [NOMBRE], [APPAT], [APMAT], [FECHANAC], [SEXO], [ESPECIAL]) VALUES (2, N'CESAR LEONEL', N'VEGA', N'HUERTA', CAST(N'1999-10-02' AS Date), N'H', N'GENERAL')
INSERT [dbo].[DOCTORES] ([NUMEMPLEADO], [NOMBRE], [APPAT], [APMAT], [FECHANAC], [SEXO], [ESPECIAL]) VALUES (3, N'JUAN JOSE', N'MARTINEZ', N'MARTINEZ', CAST(N'1980-07-08' AS Date), N'H', N'PEDIATRIA')
INSERT [dbo].[DOCTORES] ([NUMEMPLEADO], [NOMBRE], [APPAT], [APMAT], [FECHANAC], [SEXO], [ESPECIAL]) VALUES (4, N'JUANITA LIZBETH', N'CANTU', N'ROCHA', CAST(N'1993-12-11' AS Date), N'M', N'GENERAL')
INSERT [dbo].[MEDICAMENTO] ([IDMEDI], [NOMBRE], [TIPOVEN], [FECHACAD], [PRECIOVEN], [PRECIOCOM]) VALUES (2, N'KETOPROFENO', N'CR', CAST(N'2023-07-08' AS Date), CAST(40 AS Decimal(18, 0)), CAST(20 AS Decimal(18, 0)))
INSERT [dbo].[MEDICAMENTO] ([IDMEDI], [NOMBRE], [TIPOVEN], [FECHACAD], [PRECIOVEN], [PRECIOCOM]) VALUES (3, N'PARACETAMOL', N'SR', CAST(N'2023-11-02' AS Date), CAST(27 AS Decimal(18, 0)), CAST(15 AS Decimal(18, 0)))
INSERT [dbo].[MEDICAMENTO] ([IDMEDI], [NOMBRE], [TIPOVEN], [FECHACAD], [PRECIOVEN], [PRECIOCOM]) VALUES (4, N'IBUPROFENO', N'SR', CAST(N'2023-07-15' AS Date), CAST(20 AS Decimal(18, 0)), CAST(11 AS Decimal(18, 0)))
INSERT [dbo].[PACIENTES] ([IDPACI], [NOMBRE], [APPAT], [APMAT], [FECHANAC], [SEXO]) VALUES (2, N'JOSE ALBERTO', N'ANTONIO', N'BUENDIA', CAST(N'1978-07-14' AS Date), N'H')
INSERT [dbo].[PACIENTES] ([IDPACI], [NOMBRE], [APPAT], [APMAT], [FECHANAC], [SEXO]) VALUES (3, N'JUANA MARIA', N'GARCIA', N'GARCIA', CAST(N'1968-12-17' AS Date), N'M')
INSERT [dbo].[PACIENTES] ([IDPACI], [NOMBRE], [APPAT], [APMAT], [FECHANAC], [SEXO]) VALUES (4, N'MARIA LUISA', N'GUADALUPE', N'ESTRADA', CAST(N'1980-10-22' AS Date), N'M')
INSERT [dbo].[PACINOM] ([NOMBRE]) VALUES (N'JUANA MARIA')
INSERT [dbo].[RECETA] ([IDREC], [IDPACI], [IDANT], [IDMEDI], [INDICACION], [NUMEMPLEADO], [TOTALCONS]) VALUES (3, 3, 3, 3, N'TOMAR UNA PASTILLA CADA 12 HORAS DURANTE 1 DIA', 3, CAST(197 AS Decimal(18, 0)))
INSERT [dbo].[RECETA] ([IDREC], [IDPACI], [IDANT], [IDMEDI], [INDICACION], [NUMEMPLEADO], [TOTALCONS]) VALUES (4, 4, 4, 4, N'TOMAR UNA PASTILLA CADA 12 HORAS DURANTE 1 DIA', 2, CAST(190 AS Decimal(18, 0)))
INSERT [dbo].[RECETA] ([IDREC], [IDPACI], [IDANT], [IDMEDI], [INDICACION], [NUMEMPLEADO], [TOTALCONS]) VALUES (5, 5, 5, 5, N'TOMAR UNA PASTILLA CADA 8 HORAS DURANTE 4 DIAS', 10, CAST(199 AS Decimal(18, 0)))
/****** Object:  Index [UC_ANT_ID]    Script Date: 27/05/2020 5:49:43 ******/
ALTER TABLE [dbo].[ANTECEDENTES] ADD  CONSTRAINT [UC_ANT_ID] UNIQUE NONCLUSTERED 
(
	[IDANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDANT]    Script Date: 27/05/2020 5:49:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDANT] ON [dbo].[ANTECEDENTES]
(
	[IDANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PESO]    Script Date: 27/05/2020 5:49:43 ******/
CREATE NONCLUSTERED INDEX [PESO] ON [dbo].[ANTECEDENTES]
(
	[PESO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_DOC_NUME]    Script Date: 27/05/2020 5:49:43 ******/
ALTER TABLE [dbo].[DOCTORES] ADD  CONSTRAINT [UC_DOC_NUME] UNIQUE NONCLUSTERED 
(
	[NUMEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NOMBRE]    Script Date: 27/05/2020 5:49:43 ******/
CREATE NONCLUSTERED INDEX [NOMBRE] ON [dbo].[DOCTORES]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NUMEPLEADO]    Script Date: 27/05/2020 5:49:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NUMEPLEADO] ON [dbo].[DOCTORES]
(
	[NUMEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_MED_ID]    Script Date: 27/05/2020 5:49:43 ******/
ALTER TABLE [dbo].[MEDICAMENTO] ADD  CONSTRAINT [UC_MED_ID] UNIQUE NONCLUSTERED 
(
	[IDMEDI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDMEDI]    Script Date: 27/05/2020 5:49:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDMEDI] ON [dbo].[MEDICAMENTO]
(
	[IDMEDI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NOMBRE]    Script Date: 27/05/2020 5:49:43 ******/
CREATE NONCLUSTERED INDEX [NOMBRE] ON [dbo].[MEDICAMENTO]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_PACI_ID]    Script Date: 27/05/2020 5:49:43 ******/
ALTER TABLE [dbo].[PACIENTES] ADD  CONSTRAINT [UC_PACI_ID] UNIQUE NONCLUSTERED 
(
	[IDPACI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDPACI]    Script Date: 27/05/2020 5:49:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDPACI] ON [dbo].[PACIENTES]
(
	[IDPACI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NOMBRE]    Script Date: 27/05/2020 5:49:43 ******/
CREATE NONCLUSTERED INDEX [NOMBRE] ON [dbo].[PACIENTES]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_REC_ID]    Script Date: 27/05/2020 5:49:43 ******/
ALTER TABLE [dbo].[RECETA] ADD  CONSTRAINT [UC_REC_ID] UNIQUE NONCLUSTERED 
(
	[IDREC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDPACI]    Script Date: 27/05/2020 5:49:43 ******/
CREATE NONCLUSTERED INDEX [IDPACI] ON [dbo].[RECETA]
(
	[IDPACI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDREC]    Script Date: 27/05/2020 5:49:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDREC] ON [dbo].[RECETA]
(
	[IDREC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ANTECEDENTES]  WITH CHECK ADD  CONSTRAINT [FK_ANTECEDENTES_ID] FOREIGN KEY([IDANT])
REFERENCES [dbo].[ANTECEDENTES] ([IDANT])
GO
ALTER TABLE [dbo].[ANTECEDENTES] CHECK CONSTRAINT [FK_ANTECEDENTES_ID]
GO
ALTER TABLE [dbo].[DOCTORES]  WITH CHECK ADD  CONSTRAINT [FK_DOCTORES_NUMEMP] FOREIGN KEY([NUMEMPLEADO])
REFERENCES [dbo].[DOCTORES] ([NUMEMPLEADO])
GO
ALTER TABLE [dbo].[DOCTORES] CHECK CONSTRAINT [FK_DOCTORES_NUMEMP]
GO
ALTER TABLE [dbo].[MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTO_ID] FOREIGN KEY([IDMEDI])
REFERENCES [dbo].[MEDICAMENTO] ([IDMEDI])
GO
ALTER TABLE [dbo].[MEDICAMENTO] CHECK CONSTRAINT [FK_MEDICAMENTO_ID]
GO
ALTER TABLE [dbo].[PACIENTES]  WITH CHECK ADD  CONSTRAINT [FK_PACI_ID] FOREIGN KEY([IDPACI])
REFERENCES [dbo].[PACIENTES] ([IDPACI])
GO
ALTER TABLE [dbo].[PACIENTES] CHECK CONSTRAINT [FK_PACI_ID]
GO
ALTER TABLE [dbo].[RECETA]  WITH CHECK ADD  CONSTRAINT [FK_REC_ID] FOREIGN KEY([IDREC])
REFERENCES [dbo].[RECETA] ([IDREC])
GO
ALTER TABLE [dbo].[RECETA] CHECK CONSTRAINT [FK_REC_ID]
GO
ALTER TABLE [dbo].[DOCTORES]  WITH CHECK ADD  CONSTRAINT [CHK_COLUMND_DOCEXC] CHECK  (([FECHANAC]<dateadd(year,(-18),getdate())))
GO
ALTER TABLE [dbo].[DOCTORES] CHECK CONSTRAINT [CHK_COLUMND_DOCEXC]
GO
/****** Object:  StoredProcedure [dbo].[ANTBAS]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ANTBAS] AS SELECT * FROM VISTABASANT
GO
/****** Object:  StoredProcedure [dbo].[DOCS40]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DOCS40] AS SELECT * FROM VISTAEDAD40DOCS
GO
/****** Object:  StoredProcedure [dbo].[PACH]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PACH] AS SELECT * FROM VISTAPACISH
GO
/****** Object:  StoredProcedure [dbo].[RECE]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RECE] AS SELECT * FROM VISTAREC
GO
/****** Object:  Trigger [dbo].[IMEDIC]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[IMEDIC] ON [dbo].[MEDICAMENTO] INSTEAD OF DELETE AS BEGIN PRINT('NO TIENES PERMISO PARA REALIZAR ESTA ACCION') END
GO
ALTER TABLE [dbo].[MEDICAMENTO] ENABLE TRIGGER [IMEDIC]
GO
/****** Object:  Trigger [dbo].[DELREC]    Script Date: 27/05/2020 5:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[DELREC] ON [dbo].[RECETA] AFTER DELETE AS BEGIN PRINT('SE A ELIMINADO CORRECTAMENTE'); END
GO
ALTER TABLE [dbo].[RECETA] ENABLE TRIGGER [DELREC]
GO
USE [master]
GO

--Progamability
CREATE PROCEDURE DOCS40 AS SELECT * FROM VISTAEDAD40DOCS
EXEC DOCS40
CREATE PROCEDURE PACH AS SELECT * FROM VISTAPACISH
EXEC PACH
CREATE PROCEDURE SINR AS SELECT * FROM VISTAMEDSR
EXEC SINR
CREATE PROCEDURE ANTBAS AS SELECT * FROM VISTABASANT 
EXEC ANTBAS
CREATE PROCEDURE RECE AS SELECT * FROM VISTAREC
EXEC RECE

CREATE FUNCTION DOCSINFO(@NUMEMPLEADO INT) RETURNS TABLE AS RETURN(SELECT * FROM DOCTORES WHERE NUMEMPLEADO = @NUMEMPLEADO)
SELECT * FROM DOCSINFO(2)

CREATE FUNCTION PACINFO(@NOMBRE VARCHAR(30), @EDAD NCHAR(2), @FECHANAC NVARCHAR(20)) RETURNS NVARCHAR(100) AS BEGIN RETURN(SELECT @NOMBRE+ ' '+@EDAD+ ' ' + @FECHANAC) END
SELECT DBO.PACINFO(NOMBRE, EDAD, FECHANAC) AS DETAIL FROM PACIENTES

CREATE TRIGGER IMEDIC ON MEDICAMENTO INSTEAD OF DELETE AS BEGIN PRINT('NO TIENES PERMISO PARA REALIZAR ESTA ACCION') END	
DELETE FROM MEDICAMENTO WHERE IDMEDI=2

CREATE TRIGGER DELREC ON RECETA AFTER DELETE AS BEGIN PRINT('SE A ELIMINADO CORRECTAMENTE'); END
DELETE FROM RECETA WHERE IDREC = 3